<script>
      $(document).ready(function () {
          blurBackground();
          $('.ui.sidebar').sidebar('attach events', '.toc.item');
          $('.ui.embed').embed();
      });
</script>
<div class="ui inverted vertical center aligned w3-display-container w3-cerebro-blue">
    <div class="ui active page dimmer" style="display: none" id="dimmer">
        <div class="w3-display-middle" id="dialog" style="display: none">
            <h2 class="ui header text inverted">Ingrese PIN verificador entregado por Twitter:</h2>
            <div class="ui labeled input w3-margin">
                <div class="ui basic label w3-text-cerebro-red">PIN</div>
                <input placeholder="Ingrese aqu&iacute; el c&oacute;digo" id="codigoPin" type="text">
            </div><div class="ui horizontal divider"></div>
            <button class="ui inverted button" onclick="ocultarDimmer()">Cancelar</button>
            <button class="ui twitter icon button" onclick="terminarRegistroTwitter()">Registrarse <i class="ui twitter icon"></i></button>
        </div>
    </div>
    <div class="bgimg-4 w3-opacity" id="backgr"></div>
    <div class="ui container w3-display-topmiddle w3-margin-top">
        <div class="ui large secondary inverted pointing menu w3-border-0">
            <a class="toc item"><i class="sidebar icon"></i></a>
            <img src="~/images/cerebro.png" class="item w3-padding" style="height: 47px">
            <div class="right item">
                <a class="ui inverted button" href="/Home/Login">Iniciar Sesi&oacute;n</a>
                <a class="ui inverted button" href="/Home/Registrarse">Registrarse</a>
            </div>
        </div>
    </div>
    <div class="ui container w3-display-middle">
        <div class="ui grid internally celled container right aligned">
            <div class="ten wide column">
                <h1 class="ui inverted header w3-xxxlarge">Tu Municipalidad,<br> en tiempo real</h1>
                <h1>Mantente al tanto de todos los eventos</h1>
                <h3>Comparte contenido en las redes sociales</h3>
            </div>
            <div class="six wide column left aligned">
                <h2 class="ui header text inverted">Comenzar con...</h2>
                <button class="ui circular icon button facebook  huge" onclick="registrarFacebook()"><i class="ui facebook f icon"></i></button>
                <button class="ui circular icon button twitter huge" onclick="registrarTwitter()"><i class="ui twitter icon"></i></button>
            </div>
        </div>
    </div>
</div>
<div class="w3-container w3-white w3-center w3-padding w3-padding-48 w3-animate-opacity">
    <img src="~/images/cerebro-text.png" class="w3-image w3-padding w3-padding-24" style="height: 80px">
    <h3 class="ui header text horizontal divider w3-text-silver">La mejor opci&oacute;n para la gesti&oacute;n de ciudades inteligentes.</h3>
</div>
<div class="w3-container w3-center w3-padding w3-padding-64 w3-card w3-bottombar" style="background-color: #FBFBFB">
    <h3 class="w3-text-dark-grey w3-opacity-min">Descubre algunas de las caracteristicas, que lo hacen &uacute;nico</h3>
    <div class="w3-content w3-padding w3-padding-32">
        <div class="w3-col s12 m12 l4 w3-panel">
            <div class="ui segment grey raised w3-padding-16">
                <h3 class="w3-text-cerebro-red">En vivo</h3><hr>
                <p>Obten una <strong>vista en vivo de todos los sucesos</strong> que tienen lugar en la municipalidad.</p>
            </div>
        </div>
        <div class="w3-col s12 m12 l4 w3-panel">
            <div class="ui segment grey raised w3-padding-16">
                <h3 class="w3-text-cerebro-blue">Configurable</h3><hr>
                <p>Eres t&uacute;, quien de <strong>forma sencilla defines</strong> que acciones se deben tomar cuando algo sucede.</p>
            </div>
        </div>
        <div class="w3-col s12 m12 l4 w3-panel">
            <div class="ui segment grey raised w3-padding-16">
                <h3 class="w3-text-cerebro-red">Un solo lugar</h3><hr>
                <p>T&eacute;n toda la informaci&oacute;n centralizada en un solo lugar. <strong>Accede desde cualquier lugar.</strong></p>
            </div>
        </div>
    </div>
</div>
<div class="w3-container w3-white w3-center w3-padding w3-padding-64 w3-card-4">
    <img src="~/images/cerebro-logo.png" class="w3-image w3-padding" style="height: 150px">
</div>
<div id="about" class="w3-content w3-container w3-hide-small">
    <div class="w3-row w3-padding w3-padding-64 w3-bottombar home1">
        <div class="w3-col m6 l5 s12 w3-padding w3-margin w3-round w3-right w3-opacity-min" style="background-color: #FBFBFB">
            <h1 class="w3-padding w3-center w3-text-cerebro-red ui header"><strong>Municipalidades</strong></h1>
            <h4 class="w3-padding w3-center ui header"><strong>Aprovech&aacute; de las oportunidades y beneficios del IoT en tu municipalidad, sin importar el tama&ntilde;o o presupuesto.</strong></h4>
        </div>
    </div>
    <div class="w3-row w3-padding w3-padding-64 w3-bottombar home2">
        <div class="w3-col m6 l5 s12 w3-padding w3-round w3-margin w3-left w3-opacity-min" style="background-color: #FBFBFB">
            <h1 class="w3-padding w3-center w3-text-cerebro-red ui header"><strong>Visualizaciones</strong></h1>
            <h4 class="w3-padding w3-center ui header"><strong>Accede y obten una vista de los eventos georeferenciados  en tiempo real, a medida que sucedan.</strong></h4>
        </div>
    </div>
    <div class="w3-row w3-padding w3-padding-64 w3-bottombar home3">
        <div class="w3-col m6 l5 s12 w3-padding w3-round w3-margin w3-right w3-opacity-min" style="background-color: #FBFBFB">
            <h1 class="w3-padding w3-center w3-text-cerebro-red ui header"><strong>Desde cualquier lugar</strong></h1>
            <h4 class="w3-padding w3-center"><strong>Accede desde la web o, proximamente, desde la aplicaci&oacute;n para dispositivos m&oacute;viles y sigue siempre al tanto.</strong></h4>
        </div>
    </div>
    <div class="w3-row w3-padding w3-padding-64 home4">
        <div class="w3-col m6 l5 s12 w3-padding w3-round w3-margin w3-left w3-opacity-min" style="background-color: #FBFBFB">
            <h1 class="w3-padding w3-center w3-text-cerebro-red ui header"><strong>Reportes</strong></h1>
            <h4 class="w3-padding w3-center"><strong>Obten tanto al hist&oacute;ricos de eventos, como al de datos recolectados por tipo, y por regi&oacute;n.</strong></h4>
        </div>
    </div>
</div>
<div class="w3-padding-48 w3-card" style="background-color: #FBFBFB">
    <div class="w3-content w3-padding-48 w3-margin-bottom">
        <h2 class="w3-center w3-margin-bottom ui horizontal divider header w3-padding w3-padding-24 w3-text-easyFlete-orange">Demo</h2>
        <h4 class="w3-center ui header">Mir&aacute; la demo para conocer a&uacute;n mas sobre Cerebro</h4>
        <div class="w3-content w3-padding-32 w3-margin-top w3-center">
            <div class="ui embed w3-card" data-source="youtube" data-id="Nw1643T0RD0" data-placeholder="images/fondo.gif">
            </div>
        </div>
    </div>
</div>
<form method="post" enctype="multipart/form-data" asp-controller="Dispositivos" asp-action="Trigger">
    <div class="form-group">
        <div class="col-md-10">
            <input type="file" name="files" multiple />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Upload" />
        </div>
    </div>
</form>

<div class="w3-container w3-cerebro-red w3-center w3-padding w3-padding-64 w3-card-4 w3-topbar">
    <img src="~/images/cerebro.png" class="w3-image w3-padding" style="height: 50px">
</div>

<div class="ui inverted vertical footer segment w3-padding-48">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="three wide column">
                <h4 class="ui inverted header">About</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Sitemap</a>
                    <a href="#" class="item">Contact Us</a>
                    <a href="#" class="item">Religious Ceremonies</a>
                    <a href="#" class="item">Gazebo Plans</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">Services</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Banana Pre-Order</a>
                    <a href="#" class="item">DNA FAQ</a>
                    <a href="#" class="item">How To Access</a>
                    <a href="#" class="item">Favorite X-Men</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">Footer Header</h4>
                <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
            </div>
        </div>
    </div>
</div>
<script>
    window.fbAsyncInit = function () {
        FB.init({ appId: '623498791182427', cookie: true, xfbml: true, version: 'v2.8' });
    };
    //$('input[type=checkbox]').removeAttr('checked');
    function registrarFacebook() {
        FB.login(function (response) {
            if (response.status === 'connected') {
                FB.api('/me', 'GET', { "fields": "id,name,email" }, function (user) {
                    //window.location = "https://www.cerebro-frontOffice.com/inicio?user=" + user.email;

                }
                );
            } else {
            }
        }, { scope: 'public_profile,email' });
    }
    function statusChangeCallback(response) {
        if (response.status === 'connected') {
            return true;
        } else {
            return false;
        }
    }
    function checkLoginState() {
        FB.getLoginStatus(function (response) {
            statusChangeCallback(response);
        });
    }
    var cb = new Codebird;
    cb.setConsumerKey("dez0wzcNcfJLc0DySfLJDKGwL", "fof6aJ0u9yvektL4TJpXQnzyrtMEEZLZj47sdQJzItO3HiRWZn");
    function registrarTwitter() {
        cb.__call(
            "oauth_requestToken",
            { oauth_callback: "oob" },
            function (reply, rate, err) {
                if (err) {
                    console.log("error response or timeout exceeded" + err.error);
                }
                if (reply) {
                    cb.setToken(reply.oauth_token, reply.oauth_token_secret);
                    cb.__call(
                        "oauth_authorize",
                        {},
                        function (auth_url) {
                            window.codebird_auth = window.open(auth_url);
                        }
                    );
                }
            }
        );
        document.getElementById("dimmer").style.display = "block";
        document.getElementById("dialog").style.display = "block";
    }
    function terminarRegistroTwitter() {
        if (document.getElementById("codigoPin").value !== ""){ 
            cb.__call(
                "oauth_accessToken",
                { oauth_verifier: document.getElementById("codigoPin").value },
                function (reply, rate, err) {
                    if (err) {
                        console.log("error response or timeout exceeded" + err.error);
                    }
                    if (reply) {
                        // store the authenticated token, which may be different from the request token (!)
                        cb.setToken(reply.oauth_token, reply.oauth_token_secret);
                    }
                }
            );
        }
    }
    function ocultarDimmer() { 
        document.getElementById("dimmer").style.display = "none";
        document.getElementById("dialog").style.display = "none";
    }
</script>