<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Cerebro">
    <meta name="author" content="Grupo 17 - TSI1 - 2017">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inicio | cerebro</title>
    <link rel="stylesheet" href="~/css/w3.css">
    <link rel="stylesheet" href="~/css/site.css">
    <script src="~/js/jquery.js"></script>
    <script src="~/js/site.js"></script>
</head>

<body style="background-color: #F9F9F9">
    <div class="w3-top">
        <div class="w3-bar" id="nav">
            <div class="w3-content">
                <a class="w3-bar-item w3-button w3-cerebro-red w3-hover-cerebro-red w3-hover-shadow w3-text-white w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()"><strong>&#9776;</strong></a>
                <img src="~/images/cerebro.png" style="height:30px; margin-left: 16px; margin-top: 6px">
                <div class="w3-display-middle">
                    <a href="#intro" class="w3-bar-item w3-button w3-padding w3-hover-white w3-padding-12 w3-hover-opacity w3-text-white w3-hide-small">INTRO</a>
                    <a href="#" class="w3-bar-item w3-button w3-padding w3-hover-light-grey w3-padding-12 w3-hover-opacity w3-text-white w3-hide-small">OFERTAS</a>
                    <a href="#" class="w3-bar-item w3-button w3-padding w3-hover-light-grey w3-hover-opacity w3-padding-12 w3-text-white w3-hide-small">CONTACTO</a>
                </div>
                <a href="javascript:void(0);" class="w3-bar-item w3-button w3-mobile w3-padding w3-right w3-padding-12 w3-text-white w3-hide-small w3-hover-light-grey w3-hover-opacity">INICIAR SESI&Oacute;N</a>
            </div>
        </div>
        <div id="navMobile" class="w3-bar-block w3-cerebro-blue w3-hide w3-hide-large w3-hide-medium w3-card-4">
            <a href="#about" class="w3-bar-item w3-button" onclick="toggleFunction()">ABOUT</a>
            <a href="#portfolio" class="w3-bar-item w3-button" onclick="toggleFunction()">PORTFOLIO</a>
            <a href="#contact" class="w3-bar-item w3-button" onclick="toggleFunction()">CONTACT</a>
            <a href="#" class="w3-bar-item w3-button">SEARCH</a>
        </div>
    </div>
    <div class="w3-cerebro-blue w3-card-4 w3-animate-opacity w3-display-container">
        <div class="bgimg-4" id="backgr"></div>
        <header class="w3-display-middle" style="width: 100%">
            <div class="w3-content w3-padding w3-padding-64">
                <div class="w3-half w3-container w3-hide-small w3-hide-medium">
                    <div class="w3-panel w3-right-align w3-container w3-padding-64">
                        <h1 class="w3-xxxlarge"><strong>Tu municipalidad, en tiempo real.</strong></h1><hr>
                        <h2>Est&eacute; al tanto de todos los acontecimientos.</h2><hr>
                        <h3>Acced&eacute; desde cualquier lugar, y con cualquier dispositivo.</h3>
                    </div>
                </div>
                <div class="w3-col s12 m8 l6 w3-right w3-container w3-padding w3-padding-64">
                    <div class="w3-panel w3-white w3-round w3-card-4">
                        <div class="w3-center"><img src="~/images/cerebro-logo.png" class="w3-image w3-margin-top" style="height: 45px"></div><hr>
                        <label for="email" class="w3-text-cerebro-blue"><strong>Email:</strong></label>
                        <input type="email" name="email" class="w3-input w3-padding w3-border w3-round w3-hover-border-cerebro-red w3-margin-bottom" placeholder="Ingrese su direcci&oacute;n de correo">
                        <label for="pass" class="w3-text-cerebro-blue"><strong>Contrase&ntilde;a:</strong></label>
                        <input type="password" name="pass" class="w3-input w3-padding w3-border w3-round w3-hover-border-cerebro-red w3-margin-bottom" placeholder="Ingrese su contrase&ntilde;a"><hr>
                        <button class="w3-button w3-input w3-border w3-border-facebook w3-round w3-text-facebook w3-hover-facebook"><img src="~/images/facebook1.png" class="w3-left" style="height: 27px">Registrarse con Facebook</button>
                        <button class="w3-button w3-input w3-margin-top w3-margin-bottom w3-border w3-round w3-border-twitter w3-text-twitter w3-hover-twitter"><img src="~/images/twitter1.png" class="w3-left" style="height: 27px">Registrarse con Twitter</button>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div class="w3-container w3-white w3-center w3-padding w3-padding-64 w3-animate-opacity">
        <img src="~/images/cerebro-text.png" class="w3-image w3-padding w3-padding-24" style="height: 100px">
        <h3 class="w3-text-dark-grey">La mejor opci&oacute;n para la gesti&oacute;n de ciudades inteligentes.</h3>
    </div>
    <div class="w3-container w3-light-grey w3-center w3-padding w3-padding-64 w3-card w3-bottombar">
        <h4 class="w3-text-dark-grey w3-opacity-min">Descubre algunas de las caracteristicas, que lo hacen &uacute;nico</h4>
        <div class="w3-content w3-padding w3-padding-32">
            <div class="w3-col s12 m12 l4 w3-panel">
                <div class="w3-panel w3-white w3-round w3-card w3-hover-shadow w3-topbar w3-border-cerebro-red">
                    <h3 class="w3-text-cerebro-red">En vivo</h3><hr>
                    <p>Obten una <strong>vista en vivo de todos los sucesos</strong> que tienen lugar en la municipalidad.</p>
                </div>
            </div>
            <div class="w3-col s12 m12 l4 w3-panel">
                <div class="w3-panel w3-white w3-round w3-card w3-hover-shadow w3-topbar w3-border-cerebro-blue">
                    <h3 class="w3-text-cerebro-blue">Configurable</h3><hr>
                    <p>Eres t&uacute;, quien de <strong>forma sencilla defines</strong> que acciones se deben tomar cuando algo sucede.</p>
                </div>
            </div>
            <div class="w3-col s12 m12 l4 w3-panel">
                <div class="w3-panel w3-white w3-round w3-card w3-hover-shadow w3-topbar w3-border-cerebro-red">
                    <h3 class="w3-text-cerebro-red">Un solo lugar</h3><hr>
                    <p>T&eacute;n toda la informaci&oacute;n centralizada en un solo lugar. <strong>Accede desde cualquier lugar.</strong></p>
                </div>
            </div>
        </div>
        <div class="w3-content w3-padding w3-padding-32">
            <div class="w3-col s12 m12 l4 w3-panel">
                <div class="w3-panel w3-white w3-round w3-card w3-hover-shadow w3-topbar w3-border-cerebro-blue">
                    <h3 class="w3-text-cerebro-blue">Sencillo</h3><hr>
                    <p>Cerebro <strong>hace muy sencillo la gesti&oacute;n</strong> de la informaci&oacute;n y de los dispositivos.</p>
                </div>
            </div>
            <div class="w3-col s12 m12 l4 w3-panel">
                <div class="w3-panel w3-white w3-round w3-card w3-hover-shadow w3-topbar w3-border-cerebro-red">
                    <h3 class="w3-text-cerebro-red">Dispositivos</h3><hr>
                    <p>Con cerebro <strong>no tienes l&iacute;mite</strong> en la cantidad de dispositivos que puedes a&ntilde;adir.</p>
                </div>
            </div>
            <div class="w3-col s12 m12 l4 w3-panel">
                <div class="w3-panel w3-white w3-round w3-card w3-hover-shadow w3-topbar w3-border-cerebro-blue">
                    <h3 class="w3-text-cerebro-blue">M&oacute;vil</h3><hr>
                    <p>Acced&eacute; pr&oacute;ximamente desde la aplicaci&oacute;n para dispositivos m&oacute;viles, est&eacute;s donde estes.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="w3-container w3-white w3-center w3-padding w3-padding-64 w3-card-4">
        <img src="~/images/cerebro-logo.png" class="w3-image w3-padding" style="height: 180px">
    </div>
    <div id="about" class="w3-content w3-container w3-hide-small">
        <div class="w3-row w3-padding w3-padding-64 w3-bottombar home1">
            <div class="w3-col m6 l6 s12 w3-padding w3-white w3-round w3-margin w3-right w3-opacity-min">
                <h1 class="w3-padding w3-center w3-text-cerebro-red"><strong>Municipalidades</strong></h1>
                <p class="w3-padding w3-center"><strong>Aprovech&aacute; de las oportunidades y beneficios del IoT en tu municipalidad, sin importar el tama&ntilde;o o presupuesto.</strong></p>
            </div>
        </div>
        <div class="w3-row w3-padding w3-padding-64 w3-bottombar home2">
            <div class="w3-col m6 l6 s12 w3-padding w3-white w3-round w3-margin w3-left w3-opacity-min">
                <h1 class="w3-padding w3-center w3-text-cerebro-red"><strong>Visualizaciones</strong></h1>
                <p class="w3-padding w3-center"><strong>Accede y obten una vista de los eventos georeferenciados  en tiempo real, a medida que sucedan.</strong></p>
            </div>
        </div>
        <div class="w3-row w3-padding w3-padding-64 w3-bottombar home3">
            <div class="w3-col m6 l6 s12 w3-padding w3-white w3-round w3-margin w3-right w3-opacity-min">
                <h1 class="w3-padding w3-center w3-text-cerebro-red"><strong>Desde cualquier lugar</strong></h1>
                <p class="w3-padding w3-center"><strong>Accede desde la web o, proximamente, desde la aplicaci&oacute;n para dispositivos m&oacute;viles y sigue siempre al tanto.</strong></p>
            </div>
        </div>
        <div class="w3-row w3-padding w3-padding-64 home4">
            <div class="w3-col m6 l6 s12 w3-padding w3-white w3-round w3-margin w3-left w3-opacity-min">
                <h1 class="w3-padding w3-center w3-text-cerebro-red"><strong>Reportes</strong></h1>
                <p class="w3-padding w3-center"><strong>Obten tanto al hist&oacute;ricos de eventos, como al de datos recolectados por tipo, y por regi&oacute;n.</strong></p>
            </div>
        </div>
    </div>
    <div class="w3-container w3-cerebro-red w3-center w3-padding w3-padding-64 w3-card-4 w3-topbar">
        <img src="~/images/cerebro.png" class="w3-image w3-padding" style="height: 80px">
    </div>
    <footer class="w3-container w3-light-grey w3-center w3-display-container" style="height: 300px">
        <img src="~/images/cerebro-logo.png" class="w3-image w3-padding w3-display-middle" style="height: 80px">
        <h4 class="w3-display-middle" style="margin-top: 80px">&copy; 2017 - UrbeInteligentzia<br><strong>TSI1 - Grupo 17</strong></h4>
    </footer>
    <script>
        $(document).ready(function () {
            "use strict";
            blurBackground();
        });
        window.onscroll = function () {
            "use strict";
            addNavbarTop();
        };
    </script>
</body>

</html>
