<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="css/cerebro.css">
    <link rel="stylesheet" href="css/w3.css">
    <link rel="stylesheet" href="css/semantic.min.css">
    <title>Registrarse | Cerebro</title>
    <script src="js/jquery.js"></script>
    <script src="js/semantic.min.js"></script>
    <script src="js/site.js"></script>
</head>
<body class="w3-cerebro-blue">
    <div class="ui active page dimmer" style="display: none" id="dimmer">
        <div class="ui text loader big" id="loading" style="display: none">Por favor espere...</div>
        <div class="w3-display-middle" id="exito" style="display: none">
            <h1 class="ui header text inverted">Registro completado con exito!</h1>
            <h3 class="ui header text inverted horizontal divider">Ser&aacute;s llevado a la p&aacute;gina de inicio</h3>
            <button class="ui circular green huge icon button inverted" onclick="ocultarDimmerConLogin()"><i class="checkmark icon"></i></button>
        </div>
        <div class="w3-display-middle" id="error" style="display: none">
            <h1 class="ui header text inverted">Ha ocurrido un error, por favor vuelve a intentar...</h1>
            <button class="ui circular orange huge icon button inverted" onclick="ocultarDimmer()"><i class="warning icon"></i></button>
        </div>
    </div>
    <div class="w3-cerebro-blue" style="height:100%; width:100%"><div class="bgimg-4" id="backgr" style="height: 100%"></div></div>
    <div class="w3-bar w3-top">
        <div class="w3-content">
            <img src="images/cerebro.png" style="height:30px; margin-left: 16px; margin-top: 6px">
        </div>
    </div>
    <div class="ui stackable text container w3-display-middle">
        <div class="ui raised segment">
            <div class="w3-center"><img src="images/cerebro-logo.png" class="w3-image" style="height: 40px"></div>
            <h4 class="ui horizontal divider header text w3-text-cerebro-blue w3-margin-top w3-padding">Registrarse en Cerebro</h4>
            <div class="ui labeled input fluid w3-margin-bottom w3-margin">
                <div class="ui basic label w3-text-cerebro-red">Nombre:</div>
                <input id="nombre" name="nombre" placeholder="Ingrese aqu&iacute; su nombre o nickname..." type="text" required>
            </div>
            <div class="ui labeled input fluid w3-margin-bottom w3-margin">
                <div class="ui basic label w3-text-cerebro-red">Email:</div>
                <input id="email" name="email" placeholder="Ingrese aqu&iacute; su email..." type="text" required>
            </div>
            <div class="ui labeled input fluid w3-margin-bottom w3-margin">
                <div class="ui basic label w3-text-cerebro-red">Password:</div>
                <input id="pass" name="pass" placeholder="Ingrese aqu&iacute; su contrase&ntilde;a..." type="password" required>
            </div>
            <div class="ui labeled input fluid w3-margin-bottom w3-margin">
                <div class="ui basic label w3-text-cerebro-red">Municipalidad:</div>
                <select id="muni" required for="muni" name="muni" class="ui fluid dropdown">
                    <option value="" selected disabled>Seleccione Municipalidad a la cual registrarse</option>
                </select>
            </div>
            <div class="w3-center"><button class="ui button secondary w3-cerebro-red w3-margin" onclick="addOperador()">Registrarse</button></div>
        </div>
    </div>
    <form asp-controller="Account" asp-action="Login" method="post" class="form-horizontal" id="form" role="form" style="display:none">
        <input name="email" id="emailLogin" type="text" required>
        <input name="pass" id="passLogin" type="password" required>
        <input name="muni" id="muniLogin" required>
    </form>
    <script>
        $(document).ready(function () {
            "use strict";
            cargarMunicipalidades();
            $('.ui.dropdown').dropdown();
            blurBackground();
        });
        function cargarMunicipalidades() {
            $.get("https://www.cerebro-serviceLayer.com/api/municipalidades", function (response) {
                $.each(response, function (index, municipalidad) {
                    var x = JSON.parse(JSON.stringify(municipalidad));
                    var option = document.createElement("option");
                    option.value = x.nombre;
                    option.innerHTML = x.nombre;
                    document.getElementById("muni").appendChild(option);
                });
            });
        }

        function addOperador() {
            mostrarMensajeLoading();
            var postInfo = "email=" + document.getElementById("email").value + "&nombre_municipalidad=" + document.getElementById("muni").value + "&nombre=" + document.getElementById("nombre").value + "&password=" + md5(document.getElementById("pass").value);
            $.post("https://www.cerebro-serviceLayer.com/api/usuarios/operador?" + postInfo, function (response) {
                if (response === "OK") {
                    document.getElementById("emailLogin").value = document.getElementById("email").value;
                    document.getElementById("passLogin").value = document.getElementById("pass").value;
                    document.getElementById("muniLogin").value = document.getElementById("muni").value;
                    mostrarMensajeExito();
                } else {
                    mostrarMensajeError();
                }
            });
        }

        function ocultarDimmerConLogin() {
            document.getElementById("dimmer").style.display = "none";
            document.getElementById("exito").style.display = "none";
            document.getElementById("error").style.display = "none";
            document.getElementById("loading").style.display = "none";
            document.getElementById("form").submit();
        }

        function mostrarMensajeExito() {
            document.getElementById("dimmer").style.display = "block";
            document.getElementById("exito").style.display = "block";
            document.getElementById("error").style.display = "none";
            document.getElementById("loading").style.display = "none";
        }

        function mostrarMensajeError() {
            document.getElementById("dimmer").style.display = "block";
            document.getElementById("exito").style.display = "none";
            document.getElementById("error").style.display = "block";
            document.getElementById("loading").style.display = "none";
        }

        function mostrarMensajeLoading() {
            document.getElementById("dimmer").style.display = "block";
            document.getElementById("exito").style.display = "none";
            document.getElementById("error").style.display = "none";
            document.getElementById("loading").style.display = "block";
        }

        function ocultarDimmer() {
            document.getElementById("dimmer").style.display = "none";
            document.getElementById("exito").style.display = "none";
            document.getElementById("error").style.display = "none";
            document.getElementById("loading").style.display = "none";
        }
    </script>
</body>
</html>
