<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>cerebro-serviceLayer</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="cerebroConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=DESKTOP-HLJCMUT\SQLEXPRESS;Initial Catalog=cerebroDB;Persist Security Info=True;User ID=sqlserver;Password=sqlserver" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-HLJCMUT\SQLEXPRESS;Initial Catalog=cerebroDB;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\cerebroConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Model.cerebroADOModel.csdl|res://*/Model.cerebroADOModel.ssdl|res://*/Model.cerebroADOModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-HLJCMUT\SQLEXPRESS;initial catalog=cerebroDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="cerebroConnectionString-Web.config Connection String">
      <ParameterValue>metadata=res://*/Model.cerebroADOModel.csdl|res://*/Model.cerebroADOModel.ssdl|res://*/Model.cerebroADOModel.msl;provider=System.Data.SqlClient;provider connection string="data source=DESKTOP-HLJCMUT\SQLEXPRESS;initial catalog=cerebroDB;persist security info=True;user id=sqlserver;password=sqlserver;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="cerebroConnectionString-Web.config Connection String">
      <ParameterValue>metadata=res://*/Model.cerebroADOModel.csdl|res://*/Model.cerebroADOModel.ssdl|res://*/Model.cerebroADOModel.msl;provider=System.Data.SqlClient;provider connection string="data source=BRUNO-MSI\SQLEXPRESS;initial catalog=cerebroDB;persist security info=True;user id=sqlserver;password=sqlserver;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="cerebroConnectionString-Web.config Connection String">
      <ParameterValue>metadata=res://*/Model.cerebroADOModel.csdl|res://*/Model.cerebroADOModel.ssdl|res://*/Model.cerebroADOModel.msl;provider=System.Data.SqlClient;provider connection string="data source=DESKTOP-HLJCMUT\SQLEXPRESS;initial catalog=cerebroDB;persist security info=True;user id=sqlserver;password=sqlserver;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="cerebroConnectionString-Web.config Connection String">
      <ParameterValue>metadata=res://*/Model.cerebroADOModel.csdl|res://*/Model.cerebroADOModel.ssdl|res://*/Model.cerebroADOModel.msl;provider=System.Data.SqlClient;provider connection string="data source=BRUNO-MSI\SQLEXPRESS;initial catalog=cerebroDB;persist security info=True;user id=sqlserver;password=sqlserver;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="cerebroConnectionString-Web.config Connection String">
      <ParameterValue>metadata=res://*/Model.cerebroADOModel.csdl|res://*/Model.cerebroADOModel.ssdl|res://*/Model.cerebroADOModel.msl;provider=System.Data.SqlClient;provider connection string="data source=DESKTOP-HLJCMUT\SQLEXPRESS;initial catalog=cerebroDB;persist security info=True;user id=sqlserver;password=sqlserver;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="cerebroConnectionString-Web.config Connection String">
      <ParameterValue>metadata=res://*/Model.cerebroADOModel.csdl|res://*/Model.cerebroADOModel.ssdl|res://*/Model.cerebroADOModel.msl;provider=System.Data.SqlClient;provider connection string="data source=DESKTOP-HLJCMUT\SQLEXPRESS;initial catalog=cerebroDB;persist security info=True;user id=sqlserver;password=sqlserver;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>