<div class="bgimg-1 w3-opacity-min" *ngIf="login"></div>
<div class="w3-container" *ngIf="login">
    <div class="w3-col s12 m6 l4 w3-display-topmiddle" style="max-width:450px">
        <div class="w3-row w3-center">
            <img src="../../Content/cerebro-logo.png" alt="cerebro" class="w3-image w3-center w3-margin" style="height: 70px">
        </div>
        <div class="w3-row w3-white w3-card w3-round">
            <div class="w3-container">
                <div class="w3-center"><img src="../../Content/cerebro-text.png" class="w3-image w3-margin-top w3-padding" style="height:55px"></div><hr>
                <label for="email" class="w3-text-grey"><strong>Email:</strong></label>
                <input id="email" type="email" name="email" class="w3-input w3-margin-bottom w3-light-gray w3-bottombar w3-round w3-hover-border-grey" style="height: 40px" placeholder="Ingrese aqu&iacute; su email..." required>
                <label for="pass" class="w3-text-grey"><strong>Contrase&ntilde;a:</strong></label>
                <input id="pass" type="password" name="pass" class="w3-input w3-margin-bottom w3-light-gray w3-bottombar w3-round w3-hover-border-grey" style="height: 40px" placeholder="Ingrese aqu&iacute; su contrase&ntilde;a..." required><hr>
                <div class="w3-center w3-margin"><input type="button" class="w3-button w3-cerebro-blue w3-round w3-hover-shadow w3-hover-cerebro-blue" value="INICIAR SESI&Oacute;N" (click)="ingresar()"></div>
            </div>
        </div>
    </div>
</div>
<cerebro-backoffice-inicio *ngIf="inicio"></cerebro-backoffice-inicio>