<div class="w3-cerebro-blue w3-card-4 w3-animate-opacity w3-display-container" style="height: 100%" *ngIf="login">
    <div class="bgimg-4" id="backgr" *ngIf="login"></div>
    <header class="w3-display-middle" style="width: 100%">
        <div class="w3-content w3-padding w3-padding-64">
            <div class="w3-col s12 m8 l5 w3-display-middle w3-container w3-padding w3-padding-64">
                <div class="w3-center"><img src="../../Content/cerebro.png" class="w3-image" style="height: 40px"></div>
                <div class="w3-panel w3-white w3-round w3-card-4 w3-padding w3-padding-16">
                    <label for="email" class="w3-text-cerebro-blue"><strong>Email:</strong></label>
                    <input type="email" name="email" class="w3-input w3-padding w3-border w3-round w3-hover-border-cerebro-red w3-margin-bottom" placeholder="Ingrese su direcci&oacute;n de correo">
                    <label for="pass" class="w3-text-cerebro-blue"><strong>Contrase&ntilde;a:</strong></label>
                    <input type="password" name="pass" class="w3-input w3-padding w3-border w3-round w3-hover-border-cerebro-red w3-margin-bottom" placeholder="Ingrese su contrase&ntilde;a">
                    <label for="text" class="w3-text-cerebro-blue"><strong>Municipalidad:</strong></label>
                    <select name="muni" class="w3-select w3-padding w3-border w3-round w3-hover-border-cerebro-red w3-margin-bottom">
                        <option *ngFor="let muni of municipalidades"> {{muni.nombre}} </option>   
                    </select>
                    <button class="w3-button w3-input w3-border w3-border-cerebro-red w3-round w3-text-cerebro-red w3-margin-bottom w3-hover-cerebro-red" (click)="ingresar()">INICIAR SESI&Oacute;N</button>
                </div>
            </div>
        </div>
    </header>
</div>
<cerebro-backoffice-inicio *ngIf="inicio"></cerebro-backoffice-inicio>