<div class="w3-panel w3-white w3-round w3-display-container w3-padding w3-topbar w3-card">
    <h3 class="ui horizontal divider w3-padding">chat</h3>
    <img src="~/images/cerebro-logo.png" alt="Nuevo" class="w3-image w3-display-topmiddle" style="margin-top: -23px; height: 40px">
    <div class="w3-container w3-padding"><select id="agrupacion" class="w3-select w3-padding"></select></div>
    <div class="w3-padding-16">
        <div class="w3-panel bgimg-6 w3-round w3-card w3-display-container">
            <div class="w3-row w3-padding w3-padding-16" id="chat" style="height: 570px; max-height: 580px;overflow-y: auto">
            </div>
            <div class="w3-row w3-padding w3-margin-bottom">
                <input placeholder="Ingrese aqu&iacute; un mensaje" type="text" class="w3-input w3-round w3-card" #box (keyup.enter)="enviarMensaje(box.value)">
            </div>
        </div>
    </div>
</div>