<div class="w3-panel w3-white w3-round w3-display-container w3-padding w3-topbar w3-card">
    <div class="ui active inverted dimmer" style="display: none" id="message">
        <div class="ui text loader" style="display: none" id="loading">Por favor espere...</div>
        <div class="w3-display-middle" id="success" style="display: none">
            <img src="../../Content/success.svg" style="height: 45px"><br>
            <h4>La agrupaci&oacute;n ha sido creada</h4><hr>
            <button class="w3-button w3-border w3-border-cerebro-blue w3-hover-cerebro-blue" (click)="ocultarMensajes()">Aceptar</button>
        </div>
        <div class="w3-display-middle" id="error" style="display: none">
            <img src="../../Content/error.svg" style="height: 45px"><br>
            <h4>Ha ocurrido un error, y no se agreg&oacute; la agrupaci&oacute;n</h4><hr>
            <button class="w3-button w3-border w3-border-cerebro-blue w3-hover-cerebro-blue" (click)="ocultarMensajes()">Aceptar</button>
        </div>
        <div class="w3-display-middle" id="confirmation" style="display: none">
            <img src="../../Content/warning.svg" style="height: 45px"><br>
            <h4>Se eliminar&aacute; el Tipo de fuente de datos</h4><br>&iquest;Continuar?<hr>
            <button class="w3-button w3-border w3-text-cerebro-red w3-border-cerebro-red w3-hover-cerebro-red w3-margin-right" (click)="ocultarMensajes()">Salir</button>
            <button class="w3-button w3-cerebro-blue w3-hover-cerebro-blue" (click)="deleteTipo()">Confirmar</button>
        </div>
        <div class="w3-display-middle" id="usuarioQuitado" style="display: none">
            <img src="../../Content/success.svg" style="height: 45px"><br>
            <h4>El usuario ha sido quitado correctamente</h4><hr>
            <button class="w3-button w3-border w3-border-cerebro-blue w3-hover-cerebro-blue" (click)="ocultarMensajes()">Aceptar</button>
        </div>
    </div>

    <h3 class="w3-text-gray w3-center">Tipo de Dispositivo</h3>
    <img src="../../Content/cerebro-logo.png" alt="Nuevo" class="w3-image w3-display-topmiddle" style="margin-top: -23px; height: 40px">
    <div class="w3-round w3-bar w3-display-container" style="height:47px">
        <div class="w3-display-middle">
            <button class="w3-bar-item w3-button w3-hover-light-gray w3-text-grey w3-hover-text-cerebro-red tabButtons w3-light-grey w3-text-cerebro-red" onclick="changeTab(event, 'nuevo')">Nuevo</button>
            <button class="w3-bar-item w3-button w3-hover-light-grey tabButtons w3-text-grey w3-hover-text-cerebro-red" onclick="changeTab(event, 'modificar')">Modificar</button>
            <button class="w3-bar-item w3-button w3-hover-light-grey tabButtons w3-text-grey w3-hover-text-cerebro-red" onclick="changeTab(event, 'quitar')">Listar</button>
        </div>
    </div>
    <div id="nuevo" class="tab w3-container w3-padding">
        <div class="w3-form w3-padding w3-padding-16">
            <label class="w3-text-grey" for="nombre"><strong>Nombre de Dispositivo:</strong></label>
            <input type="text" [(ngModel)]="nombre" name="nombre" id="nombre" class="w3-input w3-light-grey w3-bottombar w3-margin-bottom w3-hover-border-cerebro-red w3-round" placeholder="Nombre o tipo de dispositivo...">
            <label class="w3-text-grey" for="tipo"><strong>Tipo de Dato a Ingresar:</strong></label>
            <select name="tipo" [(ngModel)]="tipoDeDato" id="tipo" class="w3-select w3-text-grey w3-light-grey w3-bottombar w3-margin-bottom w3-hover-border-cerebro-red w3-round">
                <option value="NUMERICO">Numerico</option>
                <option value="TEXTO">Texto</option>
                <option value="IMAGEN">Imagen</option>
                <option value="VIDEO">Video</option>
            </select>
            <label class="w3-text-grey" for="ws"><strong>Endpoint WS:</strong></label>
            <input type="text" [(ngModel)]="endpointWS" name="ws" id="ws" class="w3-input w3-light-grey w3-bottombar w3-margin-bottom w3-hover-border-cerebro-red w3-round" placeholder="Endpoint Web Service a invocar...">
            <label class="w3-text-grey" for="frecuencia"><strong>Frecuencia de Lectura:</strong></label>
            <input type="text" [(ngModel)]="frecLectura" name="frecuencia" id="frecuencia" class="w3-input w3-light-grey w3-bottombar w3-margin-bottom w3-hover-border-cerebro-red w3-round" placeholder="Frecuencia de Lectura..."><hr>
            <input type="button" class="w3-button w3-right w3-margin-bottom w3-cerebro-blue w3-round w3-hover-shadow w3-hover-cerebro-blue" (click)="agregarTipoDeFuenteDeDato()" value="Guardar">
            <input type="button" class="w3-button w3-right w3-margin-bottom w3-border w3-border-cerebro-red w3-hover-cerebro-red w3-text-cerebro-red w3-round w3-margin-right" value="Eliminar">
        </div>
    </div>
    <div id="modificar" class="tab w3-container" style="display:none">
        <div class="w3-form w3-padding w3-padding-16">
            <label class="w3-text-grey" for="nombre"><strong>Nombre del Dispositivo:</strong></label>
            <select name="nombre" [(ngModel)]="nombreMod" id="nombre_mod" class="w3-select w3-text-grey w3-light-grey w3-bottombar w3-margin-bottom w3-hover-border-cerebro-red w3-round" (change)="onChange($event.target.value)">
                <option value="0">Seleccione un tipo de fuente de datos</option>
            </select>
            <label class="w3-text-grey" for="tipo_mod"><strong>Tipo de Dato a Ingresar:</strong></label>
            <select name="tipo" [(ngModel)]="tipoDeDatoMod" id="tipo" class="w3-select w3-text-grey w3-light-grey w3-bottombar w3-margin-bottom w3-hover-border-cerebro-red w3-round">
                <option value="NUMERICO">Numerico</option>
                <option value="TEXTO">Texto</option>
                <option value="IMAGEN">Imagen</option>
                <option value="VIDEO">Video</option>
            </select>
            <label class="w3-text-grey" for="ws_mod"><strong>Endpoint WS:</strong></label>
            <input type="text" [(ngModel)]="endpointWSMod" name="ws_mod" id="ws_mod" class="w3-input w3-light-grey w3-bottombar w3-margin-bottom w3-hover-border-cerebro-red w3-round" placeholder="Endpoint Web Service a invocar...">
            <label class="w3-text-grey" for="ubicacion_mod"><strong>Frecuencia de Lectura:</strong></label>
            <input type="text" [(ngModel)]="frecLecturaMod" name="ubicacion_mod" id="ubicacion_mod" class="w3-input w3-light-grey w3-bottombar w3-margin-bottom w3-hover-border-cerebro-red w3-round" placeholder="Frecuencia de Lectura..."><hr>
            <input type="button" class="w3-button w3-right w3-margin-bottom w3-cerebro-blue w3-round w3-hover-shadow w3-hover-cerebro-blue" (click)="modificarTipoDeFuenteDeDato()" value="Guardar">
            <input type="button" class="w3-button w3-right w3-margin-bottom w3-border w3-border-cerebro-red w3-hover-cerebro-red w3-text-cerebro-red w3-round w3-margin-right" value="Eliminar">
        </div>
    </div>
    <div id="quitar" class="tab w3-container" style="display:none">
        <div class="w3-container w3-padding w3-padding-24 w3-margin-top">
            <table class="ui compact celled grey table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Tipo de dato</th>
                        <th>WebService</th>
                        <th>Frecuencia de lectura</th>
                        <th style="width: 10%">Acci&oacute;n</th>
                    </tr>
                </thead>
                <tbody id="tiposActuales">
                </tbody>
            </table>
        </div>
    </div>
</div>