<div class="ui stocked raised segments">
    <div class="ui active inverted dimmer" style="display: none" id="message">
        <div class="ui text loader" style="display: none" id="loading">Por favor espere...</div>
        <div class="w3-display-middle" id="success" style="display: none">
            <h3 class="ui text header">El Tipo de Dispositivo se ha creado correctamente!</h3>
            <button class="circular inverted green ui icon button big" (click)="ocultarMensajes()"><i class="icon checkmark"></i></button>
        </div>
        <div class="w3-display-middle" id="error" style="display: none">
            <h3 class="ui text header">Ha ocurrido un error, por favor vuelve a intentar...</h3>
            <button class="circular inverted red ui icon button big" (click)="ocultarMensajes()"><i class="icon warning"></i></button>
        </div>
        <div class="w3-display-middle" id="tipoEliminado" style="display: none">
            <h3 class="ui text header">El Tipo de Dispositivo se ha eliminado correctamente!</h3>
            <button class="circular inverted green ui icon button big" (click)="ocultarMensajes()"><i class="icon checkmark"></i></button>
        </div>
        <div class="w3-display-middle" id="tipoModificado" style="display: none">
            <h3 class="ui text header">El Tipo de Dispositivo se ha modificado correctamente!</h3>
            <button class="circular inverted green ui icon button big" (click)="ocultarMensajes()"><i class="icon checkmark"></i></button>
        </div>
        <div class="w3-display-middle" id="error" style="display: none">
            <h3 class="ui text header">Ha ocurrido un error, por favor vuelve a intentar...</h3>
            <button class="circular inverted red ui icon button big" (click)="ocultarMensajes()"><i class="icon warning"></i></button>
        </div>
        <div class="w3-display-middle" id="confirmation" style="display: none">
            <i class="ui big circular orange warning icon"></i>
            <h3>Se eliminar&aacute; el Tipo de fuente de datos<br>&iquest;Continuar?</h3>
            <div class="ui buttons w3-margin-top">
                <button class="ui button" (click)="ocultarMensajes()">Cancelar</button>
                <div class="or" data-text="o"></div>
                <button class="ui negative button" (click)="deleteTipo()">Eliminar</button>
            </div>
        </div>
    </div>
    <div class="ui segment secondary" style="background-color: #FDFDFD; height: 65px">
        <h4 class="ui horizontal divider header w3-padding-16 w3-text-cerebro-red">Tipos de Dispositivo</h4>
        <img src="../../Content/cerebro-logo.png" style="height: 37px; margin-top: -20px" class="w3-display-topmiddle">
    </div>
    <div class="ui segment secondary" style="padding: 0px">
        <div class="ui secondary center pointing aligned menu">
            <a onclick="changeTab(event, 'nuevo')" class="item tabButtons active w3-text-cerebro-red">Nuevo</a>
            <a onclick="changeTab(event, 'modificar')" class="item tabButtons">Modificar</a>
        </div>
    </div>
    <div class="ui raised segment w3-display-container">
        <div id="nuevo" class="tab w3-container w3-padding">
            <div class="ui labeled fluid input">
                <div class="ui basic label w3-text-silver">Nombre:</div>
                <input placeholder="Ingrese el nombre del tipo de dispositivo" [(ngModel)]="nombre" name="nombre" id="nombre" type="text">
            </div>
            <div class="ui labeled fluid input w3-margin-top">
                <div class="ui basic label w3-text-silver">WS a invocar:</div>
                <input [(ngModel)]="endpointWS" name="ws" id="ws" placeholder="Ingrese el nombre de la agrupaci&oacute;n" type="text">
            </div>
            <div class="ui labeled fluid input w3-margin-top">
                <div class="ui basic label w3-text-silver">Frec. Lectura:</div>
                <input [(ngModel)]="frecLectura" name="frecuencia" id="frecuencia" placeholder="Ingrese el nombre de la agrupaci&oacute;n" type="text">
            </div>
            <select name="origen" [(ngModel)]="tipoDeDato" id="tipo" class="ui fluid search dropdown w3-margin-top">
                <option value="" selected disabled>Seleccione tipo de dato a recolectar</option>
                <option value="NUMERICO">Numerico</option>
                <option value="TEXTO">Texto</option>
                <option value="IMAGEN">Imagen</option>
                <option value="VIDEO">Video</option>
            </select>
            <div class="ui divider"></div>
            <button class="ui button green w3-right" (click)="agregarTipoDeFuenteDeDato()">Guardar</button>
        </div>
        <div id="modificar" class="tab w3-container" style="display:none">
            <select id="selectTipoMod" class="ui fluid search dropdown w3-margin-top" (change)="onChange($event.target.value)">
                <option value="" selected>Seleccione un tipo de dispositivo para verlo y modificarlo...</option>
                <option *ngFor="let tip of tipoMod" value="{{tip.Id}}"> {{tip.nombre}} </option>
            </select>
            <div class="ui divider"></div>
            <div class="container w3-padding w3-padding">
                <div class="ui labeled fluid input">
                    <div class="ui label basic w3-text-silver">Nombre:</div>
                    <input placeholder="Ingrese el nombre del tipo de dispositivo" [(ngModel)]="nombreMod" type="text">
                </div>
                <div class="ui labeled fluid input w3-margin-top">
                    <div class="ui label basic w3-text-silver">WS a invocar:</div>
                    <input [(ngModel)]="endpointWSMod" name="ws_mod" id="ws_mod" placeholder="Ingrese el nombre de la agrupaci&oacute;n" type="text">
                </div>
                <div class="ui labeled fluid input w3-margin-top">
                    <div class="ui label basic w3-text-silver">Frec. Lectura:</div>
                    <input [(ngModel)]="frecLecturaMod" placeholder="Ingrese el nombre de la agrupaci&oacute;n" type="text">
                </div>
            </div>
            <div class="ui divider"></div>
            <div class="w3-margin-bottom w3-margin-top">
                <button class="ui button secondary positive w3-right" (click)="modificarTipoDeFuenteDeDato()">Guardar</button>
                <button class="ui button red inverted w3-right" (click)="mostrarMensajeConfirmacion()">Eliminar</button>
            </div>
        </div>
    </div>
</div>