<div class="ui stocked raised segments">
    <div class="ui active inverted dimmer" style="display: none" id="message">
        <div class="ui text loader" style="display: none" id="loading">Por favor espere...</div>
        <div class="w3-display-middle" id="exito" style="display: none">
            <h3 class="ui text header">Informaci&oacute;n actualizada correctamente!</h3>
            <button class="circular inverted green ui icon button big" (click)="ocultarMensajes()"><i class="icon checkmark"></i></button>
        </div>
        <div class="w3-display-middle" id="error" style="display: none">
            <h3 class="ui text header">Ha ocurrido un error, por favor vuelve a intentar...</h3>
            <button class="circular inverted red ui icon button big" (click)="ocultarMensajes()"><i class="icon warning"></i></button>
        </div>
        <div class="w3-display-middle" id="exitoPrivilegio" style="display: none">
            <h3 class="ui text header">Tipo de Privilegio ingresado correctamente!</h3>
            <button class="circular inverted green ui icon button big" (click)="ocultarMensajes()"><i class="icon checkmark"></i></button>
        </div>
    </div>
    <div class="ui segment secondary" style="background-color: #FDFDFD; height: 65px">
        <h4 class="ui horizontal divider header w3-padding-16 w3-text-cerebro-red">Usuarios de la municipalidad</h4>
        <img src="../../Content/cerebro-logo.png" style="height: 37px; margin-top: -20px" class="w3-display-topmiddle">
    </div>
    <div class="ui segment secondary" style="padding: 0px">
        <div class="ui secondary center pointing aligned menu">
            <a onclick="changeTab(event, 'nuevo')" class="item tabButtons active w3-text-cerebro-red">Usuarios</a>
            <a onclick="changeTab(event, 'modificar')" class="item tabButtons">Privilegios</a>
        </div>
    </div>
    <div class="ui segment w3-padding w3-padding-16 w3-display-container">
        <div id="nuevo" class="tab w3-container w3-padding">
            <select [(ngModel)]="usuarioSelect" id="usuarioSelect" class="ui fluid search dropdown w3-margin-top w3-padding" (change)="getUsuario($event.target.value)">
                <option value="" selected disabled>Seleccione un usuario de la municipalidad...</option>
                <option *ngFor="let usuario of usuariosMunicipalidad" value="{{usuario.email}}"> {{usuario.nombre}} </option>
            </select>
            <div class="ui divider"></div>
            <div class="w3-container w3-padding-16">
                <div class="ui segments">
                    <div class="item ui segment">
                        <div class="content">
                            <div class="ui small header w3-text-cerebro-red" id="nombreAct"></div>
                            <div class="meta"><span class="ui small header" id="emailAct"></span></div>
                            <div class="ui toggle checkbox w3-margin-top">
                                <input name="Checkbox" type="checkbox" id="estadoActual">
                                <label>Habilitado para iniciar sesi&oacute;n en la Municipalidad.</label>
                            </div>
                        </div>
                    </div>
                    <div class="ui segment" style="padding: 0px">
                        <select [(ngModel)]="privilegioSelect" id="privilegiosSelect" class="ui fluid search dropdown" multiple="">
                            <option value="" selected disabled>Seleccione los privilegios del usuario...</option>
                            <option *ngFor="let p of privilegios" value="{{p.nombre}}"> {{p.nombre}} </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="ui divider"></div>
            <button class="ui button positive w3-right" (click)="guardar()">Guardar</button>
        </div>
        <div id="modificar" class="tab w3-container" style="display:none">
            <div class="w3-padding-16">
                <div class="ui labeled fluid input">
                    <div class="ui label basic w3-text-silver">Nombre:</div>
                    <input placeholder="Ingrese el nombre del privilegio" [(ngModel)]="privilegioNuevo" type="text">
                </div>
                <div class="ui divider"></div>
                <button class="ui button positive w3-right" (click)="guardarPrivilegio()">Guardar</button>
            </div>
        </div>
    </div>
</div>