<div class="ui segment w3-padding w3-padding-16 w3-display-container">
    <img src="../../Content/cerebro-logo.png" style="height: 40px; margin-top: -20px" class="w3-display-topmiddle">
    <h4 class="ui horizontal divider header w3-margin-bottom">Usuarios de la Municipalidad</h4>
    <div class="ui horizontal divider"></div>
    <select [(ngModel)]="usuarioSelect" id="usuarioSelect" class="ui fluid search dropdown w3-margin-top w3-padding" (change)="getUsuario($event.target.value)">
        <option value="" selected disabled>Seleccione un usuario de la municipalidad...</option>
        <option *ngFor="let usuario of usuariosMunicipalidad" value="{{usuario.email}}"> {{usuario.nombre}} </option>
    </select>
    <div class="container w3-padding w3-padding-16">
        <select [(ngModel)]="privilegioSelect" id="privilegiosSelect" class="ui search dropdown fluid" multiple="">
            <!--<option value="" selected disabled>Seleccione un privilegio</option>-->
            <option value="" selected disabled>Seleccione los privilegios del usuario...</option>
            <option *ngFor="let p of privilegios" value="{{p.nombre}}"> {{p.nombre}} </option>
        </select>
        <div class="item ui segment secondary">
            <div class="content">
                <div class="ui small header w3-text-cerebro-red" id="nombreAct"></div>
                <div class="meta"><span class="ui small header" id="emailAct"></span></div>
                <div class="ui toggle checkbox w3-margin-top">
                    <input name="Checkbox" type="checkbox" id="estadoActual">
                    <label>Habilitado para iniciar sesi&oacute;n en la Municipalidad.</label>
                </div>
            </div>
        </div>
    </div>
</div>