<div class="ui raised segment w3-padding w3-padding-16 w3-display-container" style="background-color: #FDFDFD">
    <div class="ui active inverted dimmer" style="display: none" id="message">
        <div class="ui text loader" style="display: none" id="loading">Por favor espere...</div>
        <div class="w3-display-middle" id="success" style="display: none">
            <h3 class="ui text header">Informaci&oacute;n actualizada correctamente!</h3>
            <button class="circular inverted green ui icon button big"><i class="icon checkmark"></i></button>
        </div>
        <div class="w3-display-middle" id="error" style="display: none">
            <h3 class="ui text header">Ha ocurrido un error, por favor vuelve a intentar...</h3>
            <button class="circular inverted red ui icon button big"><i class="icon warning"></i></button>
        </div>
    </div>
    <img src="../../Content/cerebro-logo.png" style="height: 40px; margin-top: -20px" class="w3-display-topmiddle">
    <h4 class="ui horizontal divider header">Usuarios de la Municipalidad</h4>
    <div class="ui secondary center pointing aligned menu">
        <a onclick="changeTab(event, 'nuevo')" class="item tabButtons active w3-text-cerebro-red">Miembros</a>
        <a onclick="changeTab(event, 'modificar')" class="item tabButtons">Privilegios</a>
    </div>
    <div id="nuevo" class="tab w3-container">
        <div class="container w3-padding w3-padding-24">
            <select name="origen" [(ngModel)]="usuariosActuales" id="usuariosActuales" multiple="" class="ui fluid search dropdown w3-margin-top">
                <option value="" selected disabled>Seleccione tipo de dato a recolectar</option>
            </select>
            <button class="ui button w3-margin-top w3-cerebro-blue" (click)="agregarTipoDeFuenteDeDato()">Guardar</button>
        </div>
    </div>
    <div id="modificar" class="tab w3-container" style="display:none">
        <select name="origen" [(ngModel)]="usuariosMod" class="ui fluid search dropdown w3-margin-top" (change)="onChange($event.target.value)">
            <option value="" selected disabled>Seleccione un usurio para ver y modificar sus privilegios...</option>
        </select>
        <div class="ui horizontal divider"></div>
        <div class="container w3-padding w3-padding-24">
            <select name="origen" [(ngModel)]="privilegioMod" class="ui search dropdown">
                <option value="" selected disabled>Seleccione un privilegio</option>
                <option value="NUMERICO">Numerico</option>
                <option value="TEXTO">Texto</option>
                <option value="IMAGEN">Imagen</option>
                <option value="VIDEO">Video</option>
            </select>
            <div class="item ui segment secondary">
                <div class="content">
                    <div class="ui small header w3-text-cerebro-red">Nombre</div>
                    <div class="meta"><span class="ui small header">agustinmr1995@gmail.com</span></div>
                    <div class="meta"><span class="ui sub header text">operador</span></div>
                    <div class="meta"><span class="ui  text">Habilitado para iniciar sesi&oacute;n</span></div>
                </div>
            </div>
        </div>
        <div class="row">
            <button class="ui button w3-margin-top w3-cerebro-blue w3-right" (click)="modificarTipoDeFuenteDeDato()">Guardar</button>
        </div>
    </div>
</div>