<script>
    var muni = '@User.Claims.ToList()[3].Value';
    var dispositivos;
    $(document).ready(function () {
        $('.ui.sidebar')
            .sidebar('attach events', '.toc.item')
            .sidebar('setting', 'transition', 'overlay')
            .sidebar('setting', 'dimPage', false);
        $('.ui.dropdown').dropdown();
        getDispositivosByMunicipalidad();
    });
</script>
<div class="ui sidebar vertical left inverted menu w3-cerebro-blue">
    <div class="w3-center w3-margin-top"><img src="~/images/cerebro.png" style="height: 30px" class="w3-image"></div>
    <div class="ui horizontal divider"></div>
    <div class="w3-center">
        <a href="/inicio/inicio"><i class="home big icon circular link w3-text-white"></i></a>
        @if (User.Identity.IsAuthenticated)
        {
            <h3 class="ui horizontal divider w3-padding header small inverted" style="margin-top: 5px">@User.Claims.ToList()[0].Value</h3>
        }
        <a class="ui toc item header small" href="/Chat/Chat">Chat</a>
        <a class="ui toc item header small" href="/Agrupacion/Agrupacion">Agrupaciones</a>
        <a class="ui toc item header small active" href="/Simulador/Simulador">Simulador</a>
        <a class="ui toc item header small" href="/Reporte/Reporte">Reportes</a>
    </div>
</div>
<div class="pusher" style="background-image:url(images/ub1610v2.jpg); background-attachment:fixed; background-size:cover">
    <div class="w3-bar w3-card" style="background-color: #FBFBFB">
        <div class="ui menu secondary" style="background-color: #FBFBFB; padding-bottom: 0px">
            <a class="ui toc item left aligned"><i class="sidebar icon"></i></a>
            <div class="right menu">
                @if (User.Identity.IsAuthenticated)
                {
                    <h4 class="ui item header right aligned">@User.Claims.ToList()[0].Value</h4>
                    <a class="ui item right aligned w3-right" asp-controller="Account" asp-action="Logout"><i class="sign out icon w3-text-cerebro-red"></i></a>
                }
            </div>
        </div>
        <div class="w3-center w3-display-topmiddle" style="margin-top: 7px"><img src="~/images/cerebro-logo.png" class="w3-image" style="height: 35px"></div>
        <div class="ui secondary menu w3-light-gray w3-padding">
            <div class="ui breadcrumb item">
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="section"><h4 class="ui header w3-text-cerebro-red">@User.Claims.ToList()[3].Value</h4></div>
                }
                <div class="divider"> <strong>/</strong> </div>
                <div class="active section"><h4 class="ui text header w3-text-silver">Simulador de dispositivos</h4></div>
            </div>
        </div>
    </div>
    <div class="ui stackable text container w3-padding w3-padding-32">
        <div class="active section">
            <h4 class="ui text header w3-text-silver">Seleccione dispositivo a ingresar: </h4>
            <select class="ui dropdown" id="dispositivosList">
                <option value="" selected disabled>Seleccione dispositivo a agregar...</option>
            </select>
            <button class="ui icon button w3-margin-left" onClick="addDispositivo()"><i class="add icon green"></i></button>
        </div>

        <div class="ui divided items" id="main">
            
        </div>
    </div>
</div>
<script>
    function getDispositivosByMunicipalidad() {
        $.get("https://www.cerebro-serviceLayer.com/api/dispositivos/muni/" + muni, function (data) {
            if (data !== undefined) {
                dispositivos = data;
                while (document.getElementById("dispositivosList").firstChild) {
                    document.getElementById("dispositivosList").removeChild(document.getElementById("dispositivosList").firstChild);
                }
                $.each(data, function (index, dispositivo) {
                    var option = document.createElement("option");
                    option.value = dispositivo.Id;
                    option.innerHTML = dispositivo.nombre;
                    document.getElementById("dispositivosList").appendChild(option);
                });
            }
        });
    }

    function addDispositivo() {
        var id = document.getElementById("dispositivosList").value;
        //console.log(id);
        if (dispositivos !== undefined && id !== undefined) {
            $.each(dispositivos, function (index, x) {
                if (x.Id === id) {
                    $.get("https://www.cerebro-serviceLayer.com/api/tipos/" + x.tipo, function (tipo) {
                        if (tipo !== undefined) {
                            if (tipo.tipo === 0) { //texto
                                newDispositivoTexto(x, "tipo", x.Id);
                            } else if (tipo.tipo === 1) { //numerico
                                newDispositivoNumerico(x, "tipo", x.Id);
                            } else if (tipo.tipo === 2) { //imagen
                                newDispositivoImagen(x, "tipo", x.Id)
                            }
                        }
                    });
                }
            });
        }
    }
</script>