<script>
        $(document).ready(function () {
            $('.ui.sidebar')
                .sidebar('attach events', '.toc.item')
                .sidebar('setting', 'transition', 'overlay')
                .sidebar('setting', 'dimPage', false);
            $('.ui.dropdown').dropdown();
        });
</script>
<div class="ui sidebar vertical left inverted menu w3-cerebro-blue">
    <div class="w3-center w3-margin-top"><img src="~/images/cerebro.png" style="height: 30px" class="w3-image"></div>
    <div class="ui horizontal divider"></div>
    <div class="w3-center">
        <a href="/inicio/inicio"><i class="home big icon circular link"></i></a>
        @if (User.Identity.IsAuthenticated)
        {
            <h3 class="ui horizontal divider w3-padding header small inverted" style="margin-top: 5px">@User.Claims.ToList()[0].Value</h3>
        }
        else
        {
            <h3 class="ui horizontal divider w3-padding header small inverted" style="margin-top: 5px">Usuario</h3>
        }
        <a class="ui toc item header small" href="/Chat/Chat">Chat</a>
        <a class="ui toc item header small" href="/Agrupacion/Agrupacion">Agrupaciones</a>
        <a class="ui toc item header small active" href="/Simulador/Simulador">Simulador</a>
        <a class="ui toc item header small">Reportes</a>
    </div>
</div>
<div class="pusher" style="background-image: url(img/ub1610v2.jpg); background-attachment: fixed; background-repeat: no-repeat;background-size: cover">
    <div class="w3-bar w3-card" style="background-color: #FBFBFB">
        <div class="ui menu secondary" style="background-color: #FBFBFB; padding-bottom: 0px">
            <a class="ui toc item left aligned"><i class="sidebar icon"></i></a>
            <div class="right menu">
                @if (User.Identity.IsAuthenticated)
                {
                    <h4 class="ui item header right aligned">@User.Claims.ToList()[0].Value</h4>
                    <a class="ui item right aligned w3-right" asp-controller="Account" asp-action="Logout"><i class="sign out icon w3-text-cerebro-red"></i></a>
                }
                else
                {
                    <h4 class="ui item header right aligned">Usuario</h4>
                    <a class="ui item right aligned w3-right"><i class="sign out icon w3-text-cerebro-red"></i></a>
                }
            </div>
        </div>
        <div class="w3-center w3-display-topmiddle" style="margin-top: 7px"><img src="~/images/cerebro-logo.png" class="w3-image" style="height: 35px"></div>
        <div class="ui secondary menu w3-light-gray w3-padding">
            <div class="ui breadcrumb item">
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="section"><h4 class="ui header w3-text-cerebro-red">@User.Claims.ToList()[3].Value</h4></div>
                }
                else
                {
                    <div class="section"><h4 class="ui header w3-text-cerebro-red">Municipalidad</h4></div>
                } 
                <div class="divider"> <strong>/</strong> </div>
                <div class="active section"><h4 class="ui text header w3-text-silver">Simulador de dispositivos</h4></div>
            </div>
        </div>
    </div>
    <div class="ui stackable text container w3-padding w3-padding-32" id="main">
        <div class="ui divided items">
            <div class="ui item">
                <div class="ui grey segments" style="width: 100%">
                    <div class="ui secondary grey segment">
                        <h4 class="ui header left aligned w3-left" style="margin-top: -10px">Florida</h4>
                        <h4 class="ui header left aligned w3-left w3-text-cerebro-red" style="margin-top: -10px; margin-left: 7px">Sensor de temperatura</h4>
                        <button class="ui icon button very small compact w3-right" style="margin-top: -14px; margin-right: -14px"><i class="remove icon w3-text-cerebro-red"></i></button>
                    </div>
                    <div class="ui segment">
                        <div class="ui labeled input">
                            <div class="ui label">Desde:</div>
                            <input placeholder="datos comenzando..." type="text">
                        </div>
                        <h4 class="ui vertical divider text header">Datos a enviar</h4>
                        <div class="ui labeled w3-right input">
                            <div class="ui label">Hasta:</div>
                            <input placeholder="datos hasta..." type="text">
                        </div>
                    </div>
                    <div class="ui right aligned segment">
                        <div class="ui right labeled input w3-left">
                            <div class="ui label">Intervalo:</div>
                            <input placeholder="Invervalo entre env&iacute;o..." type="number" min="1">
                            <div class="ui basic label">seg.</div>
                        </div>
                        <div class="ui inverted icon buttons">
                            <button class="ui button"><i class="play green icon"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui item">
                <div class="ui grey segments" style="width: 100%">
                    <div class="ui secondary grey segment">
                        <h4 class="ui header left aligned w3-left" style="margin-top: -10px">Florida</h4>
                        <h4 class="ui header left aligned w3-left w3-text-cerebro-red" style="margin-top: -10px; margin-left: 7px">Sensor de algo que envie texto</h4>
                        <button class="ui icon button very small compact w3-right" style="margin-top: -14px; margin-right: -14px"><i class="remove icon w3-text-cerebro-red"></i></button>
                    </div>
                    <div class="ui segment">
                        <h4 class="ui horizontal divider text header">Datos a enviar</h4>
                        <div class="field">
                            <div class="ui slider checkbox">
                                <input name="throughput" checked="checked" type="radio">
                                <label>Texto ingresado</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui slider checkbox">
                                <input name="throughput" type="radio">
                                <label>Texto aleatorio con palabras claves</label>
                            </div>
                        </div>
                        <div class="ui labeled input fluid w3-margin-top">
                            <div class="ui label">Texto:</div>
                            <input placeholder="texto a ser enviado por el dispositivo simulado..." type="text">
                        </div>
                        <select class="ui dropdown search fluid w3-margin-top" multiple="">
                            <option value="" selected disabled></option>
                        </select>
                    </div>
                    <div class="ui right aligned segment">
                        <div class="ui right labeled input w3-left">
                            <div class="ui label">Intervalo:</div>
                            <input placeholder="Tiempo entre envio..." type="number" min="1">
                            <div class="ui basic label">seg.</div>
                        </div>
                        <div class="ui inverted icon buttons">
                            <button class="ui toggle button"><i class="play green icon"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui item">
                <div class="ui grey segments" style="width: 100%">
                    <div class="ui secondary grey segment">
                        <h4 class="ui header left aligned w3-left" style="margin-top: -10px">Florida</h4>
                        <h4 class="ui header left aligned w3-left w3-text-cerebro-red" style="margin-top: -10px; margin-left: 7px">Sensor de algo que envie alguna imagen</h4>
                        <button class="ui icon button very small compact w3-right" style="margin-top: -14px; margin-right: -14px"><i class="remove icon w3-text-cerebro-red"></i></button>
                    </div>
                    <div class="ui segment">
                        <h4 class="ui horizontal divider text header">imagenes a enviar</h4>
                        <span class="ui horizontal divider"><i class="ui circular add green link icon"></i></span>
                        <div class="ui middle aligned divided list">
                            <div class="item">
                                <div class="ui transparent input"><input type="file"></div>
                            </div>
                        </div>
                    </div>
                    <div class="ui right aligned segment">
                        <div class="ui right labeled input w3-left">
                            <div class="ui label">Intervalo:</div>
                            <input placeholder="Tiempo entre envio..." type="number" min="1">
                            <div class="ui basic label">seg.</div>
                        </div>
                        <div class="ui inverted icon buttons">
                            <button class="ui toggle button"><i class="play green icon"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
